In [1]:
#Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2
from sqlalchemy import create_engine

In [9]:
#Create sql engine
engine = create_engine('postgresql://postgres:postgres@localhost:5432/sql-challenge')

In [14]:
#Read tables into pandas
query = 'SELECT * FROM '
salaries = pd.read_sql_query(f'{query}salaries', engine)
titles = pd.read_sql_query(f'{query}titles', engine)

In [20]:
#Bin Salary data
bins = range(40000, 131000, 10000)
labels = ('40k-50k', '50k-60k', '60k-70k', '70k-80k', '80k-90k', '90k-100k', '100k-110k', '110k-120k', '>120k')
salaries.incomeRange = pd.cut()

129492